<app-stepper-form [operator]="testing()"> 
	<div class="col pl-0">
        <div class="cust-form-col-rt">
            <div class="row">
                <div class="col-12">
                    <div class="registration-inner inner-wrap tab-content" id="registerTabContent">
                        
                        <!-- Tab panel for Applicant details start -->
                        <div class="tab-pane fade show active" id="applicant-dtls" role="tabpanel" aria-labelledby="applicant-dtls-tab">
                            <div class="row br-btm">
                                <div class="col-auto align-self-center">
                                    <h4 class="h4 ttl">Applicant Details</h4>        
                                </div>
                                <div class="col align-self-center">
                                    <div class="details-list">
                                        <ul class="list-group list-group-horizontal justify-content-end">
                                            <li class="list-group-item">
                                                <span>Source</span>
                                                <p>Branch</p>
                                            </li>
                                            <li class="list-group-item">
                                                <span>Raised On</span>
                                                <p>09 Jan 20</p>
                                            </li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="registration-form inner-form">
                                        <div class="row inner-form-wrap">
                                            <div class="col-12">
                                                <form name="form">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>First Name</label>
                                                            <input type="text" #textbox class="form-control" placeholder="First Name" [(ngModel)]="firstName" value="Thomas Shelby" name="textValue" />
                                                        </div>
                                                        <div class="col">
                                                            <label>Middle Name</label>
                                                            <input type="text" #textbox class="form-control" placeholder="Middle Name" [(ngModel)]="middleName" value="Thomas Shelby" name="textValue" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Last Name</label>
                                                            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName" name="lastName"/>
                                                        </div>
                                                        <div class="col">
                                                            <label>Utility</label>
                                                            <ng-select [items]="utility" bindLabel="utilityName" placeholder="Select Utility"
                                                                [(ngModel)]="selectedUtility" name="utilityName">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" placeholder="Mobile Number" [(ngModel)]="mobileNo" name="mobileNo"/>
                                                        </div>
                                                        <div class="col">
                                                            <label>Email</label>
                                                            <input type="email" class="form-control" placeholder="Email ID" [(ngModel)]="email" name="email">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>ID Document</label>
                                                            <ng-select [items]="document" bindLabel="name" placeholder="Select ID Document"
                                                                [(ngModel)]="selectedDocument" name="document">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>ID Number</label>
                                                            <input type="text" class="form-control" placeholder="ID Number" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Consumer category</label>
                                                            <ng-select [items]="consumerCategory" bindLabel="name" placeholder="Select Consumer category"
                                                                [(ngModel)]="selectedConsumerCategory" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Consumer sub category</label>
                                                            <ng-select [items]="consumerSubCategory" bindLabel="name" placeholder="Select Consumer sub category"
                                                                [(ngModel)]="selectedConsumerSubCategory" name="name">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Ownership</label>
                                                            <ng-select [items]="Ownership" bindLabel="name" placeholder="Select Ownership"
                                                                [(ngModel)]="selectedOwnership" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>VIP</label>
                                                            <ng-select [items]="vip" type="text" bindLabel="name" placeholder="Select Yes/No" [(ngModel)]="selectedVip" bindValue="name"
                                                                name = "name">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        
                                                        <div class="col-6">
                                                            <label>Pipeline</label>
                                                            <ng-select [items]="pipeline" type="text" bindLabel="name"  placeholder="Select Pipeline"
                                                                [(ngModel)]="selectedPipeline" bindValue="name" name="pipelineName">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center form-bttn-row">
                                            <div class="col-auto">
                                                <button class="btn btn-outline-light3 st">Cancel</button>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-secondary st" id="proceed_1">Proceed</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                               
                        </div>
                        <!-- Tab panel for Applicant details end -->

                        <!-- Tab panel for Payment details start -->
                        <div class="tab-pane fade" id="applicant-pay" role="tabpanel" aria-labelledby="applicant-pay-tab">
                            <div class="row br-btm">
                                <div class="col-auto align-self-center">
                                    <h4 class="h4 ttl">Payment</h4>                                    
                                </div>
                                <div class="col align-self-center">
                                    <div class="details-list">
                                        <ul class="list-group list-group-horizontal justify-content-end">
                                            <li class="list-group-item">
                                                <!-- <span>Reg. Number</span> -->
                                                <p>$ 3000.00</p>
                                            </li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="registration-form inner-form">
                                        <div class="row inner-form-wrap">
                                            <div class="col-12">
                                                <form name="form">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Payment Type</label>
                                                            <ng-select [items]="paymentType" bindLabel="name" appendTo="body" placeholder="Select Payment Type"
                                                                [(ngModel)]="selectedPaymentType" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Scheme</label>
                                                            <ng-select [items]="scheme" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                [(ngModel)]="selectedScheme" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Amount</label>
                                                            <input type="text" class="form-control" placeholder="" value="$ 501" />
                                                        </div>
                                                        <div class="col-auto align-self-center action-col">
                                                            <button class="btn bttn-transparent bttn-icon" tooltipClass="pr-tooltip" placement="top" ngbTooltip="Remove" [openDelay]="300" [closeDelay]="500"><fa-icon [icon]="faTrash"></fa-icon></button>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Payment Type</label>
                                                            <ng-select [items]="paymentType2" bindLabel="name" appendTo="body" placeholder="Select Payment Type"
                                                                [(ngModel)]="selectedPaymentType2" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Scheme</label>
                                                            <ng-select [items]="scheme2" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                [(ngModel)]="selectedScheme2" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Amount</label>
                                                            <input type="text" class="form-control" placeholder="" value="$ 501" />
                                                        </div>
                                                        <div class="col-auto align-self-center action-col">
                                                            <button class="btn bttn-transparent bttn-icon" tooltipClass="pr-tooltip" placement="top" ngbTooltip="Remove" [openDelay]="300" [closeDelay]="500"><fa-icon [icon]="faTrash"></fa-icon></button>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <button class="btn bttn-transparent bttn-add" type="button">Add</button>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label>Payment Mode</label>
                                                            <ng-select [items]="paymentMode" bindLabel="name" appendTo="body" placeholder="Select Payment Mode"
                                                                [(ngModel)]="selectedPaymentMode" name="name">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col">
                                                            <label>Channel</label>
                                                            <input type="text" class="form-control" placeholder="" value="UPI" />
                                                        </div>
                                                        <div class="col">
                                                            <label>Transaction Number</label>
                                                            <input type="text" class="form-control" placeholder="" value="001259952400" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-4">
                                                            <label>Transaction Date</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" placeholder="yyyy--mm--dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" container="body">
                                                                <div class="input-group-append">
                                                                    <button class="btn bttn-transparent bttn-icon" type="button" (click)="d.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center form-bttn-row">
                                            <div class="col-auto">
                                                <button class="btn btn-outline-light3 st">Cancel</button>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-secondary st" id="proceed_2">Proceed</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <!-- Tab panel for Payment details end -->

                        <!-- Tab panel for Address details start -->
                        <div class="tab-pane fade" id="applicant-addr" role="tabpanel" aria-labelledby="applicant-addr-tab">
                            <div class="row br-btm">
                                <div class="col-auto align-self-center">
                                    <h4 class="h4 ttl">Address Details</h4>                                    
                                </div>
                                <div class="col align-self-center">
                                    <div class="details-list">
                                        <ul class="list-group list-group-horizontal justify-content-end">
                                            <li class="list-group-item">
                                                <div class="pr-checkbox">
                                                    <input type="checkbox" name="optionsRadios" id="checkOther" value="other" ng-model="formData.other" ng-true-value="'other'" ng-init="formData.other='other'">
                                                    <label for="checkOther"></label>
                                                </div>
                                                <label class="checkbox-label" for="checkOther">Click here if billing Address same as Meter Address</label>
                                            </li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="registration-form inner-form">
                                        <div class="row inner-form-wrap">
                                            <div class="col-12">                                                
                                                <nav class="inner-form-tabs">
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link st active" id="nav-service-tab" data-toggle="tab" href="#nav-service"
                                                            role="tab" aria-controls="nav-service" aria-selected="true">Service</a>
                                                        <a class="nav-item nav-link st" id="nav-billing-tab" data-toggle="tab" href="#nav-billing" role="tab"
                                                            aria-controls="nav-billing" aria-selected="false">Billing</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
                                                        <form name="form">
                                                            <div class="form-row">
                                                                <div class="col-12">
                                                                    <label>Address Line 1</label>
                                                                    <textarea class="form-control text-uppercase" placeholder="" rows="2"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-6">
                                                                    <label>Street Address</label>
                                                                    <textarea class="form-control" placeholder="" rows="1"></textarea>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label>State / Province / Region</label>
                                                                    <ng-select [items]="stateProvince" bindLabel="name" appendTo="body" placeholder=""
                                                                        [(ngModel)]="selectedStateProvince" name="name">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <label>City</label>
                                                                    <ng-select [items]="city" bindLabel="name" appendTo="body" placeholder=""
                                                                        [(ngModel)]="selectedCity" name="name">
                                                                    </ng-select>
                                                                </div>
                                                                <div class="col">
                                                                    <label>Postal / Zip Code </label>
                                                                    <ng-select [items]="zipCode" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                        [(ngModel)]="selectedZipCode" name="name">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <label>Area</label>
                                                                    <ng-select [items]="area" bindLabel="name" appendTo="body" placeholder="Select Payment Type"
                                                                         [(ngModel)]="selectedArea" name="name">
                                                                    </ng-select>
                                                                </div>
                                                                <div class="col">
                                                                    <label>Sub Area</label>
                                                                    <ng-select [items]="subArea" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                        [(ngModel)]="selectedSubArea" name="name">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                        </form>
                                        
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-billing" role="tabpanel" aria-labelledby="nav-billing-tab">
                                                        <form name="form">
                                                            <div class="form-row">
                                                                <div class="col-12">
                                                                    <label>Home / Appartment</label>
                                                                    <textarea class="form-control text-uppercase" placeholder="3964  Small Street" rows="2" value="3964  Small Street"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-6">
                                                                    <label>Street</label>
                                                                    <textarea class="form-control" placeholder="1235 New street" rows="1" value="1235 New street"></textarea>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label>State / Province / Region</label>
                                                                    <ng-select [items]="billingAddress" bindLabel="name" appendTo="body" placeholder=""
                                                                        [(ngModel)]="selectedBillingAddress" name="name">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <label>City</label>
                                                                    <ng-select [items]="billingCity" bindLabel="name" appendTo="body" placeholder=""
                                                                        [(ngModel)]="selectedBillingCity" name="name">
                                                                    </ng-select>
                                                                </div>
                                                                <div class="col">
                                                                    <label>Postal / Zip Code </label>
                                                                    <ng-select [items]="billingZipCode" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                        [(ngModel)]="selectedBillingZipCode" name="name">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col">
                                                                    <label>Area</label>
                                                                    <ng-select [items]="billingArea" bindLabel="name" appendTo="body" placeholder="Select Payment Type"
                                                                        [(ngModel)]="selectedBillingArea" name="name">
                                                                    </ng-select>
                                                                </div>
                                                                <div class="col">
                                                                    <label>Sub Area</label>
                                                                    <ng-select [items]="billingSubArea" bindLabel="name" appendTo="body" placeholder="Select Scheme"
                                                                        [(ngModel)]="selectedBillingSubArea" name="name"> 
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end form-bttn-row br-top">
                                            <div class="col-auto">
                                                <button class="btn btn-outline-light3 st">Cancel</button>
                                            </div>
                                            <div class="col-auto pl-1 pr-4">
                                                <button class="btn btn-secondary st" id="proceed_3">Proceed</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab panel for Address details end -->

                        <!-- Tab panel for KYC documents start-->
                        <div class="tab-pane fade" id="kyc-doc" role="tabpanel" aria-labelledby="kyc-doc-tab">
                            <div class="row br-btm">
                                <div class="col-auto align-self-center">
                                    <h4 class="h4 ttl">KYC documents</h4>                                    
                                </div>
                                <div class="col align-self-center">
                                    <div class="details-list">
                                        <ul class="list-group list-group-horizontal justify-content-end">
                                            <li class="list-group-item"></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="registration-form inner-form">
                                        <div class="row inner-form-wrap">
                                            <div class="col-12">
                                                    <form name="form">
                                                    <div class="form-row">
                                                        <div class="col-4">
                                                            <label>Select Type</label>
                                                            <ng-select [items]="documentType" bindLabel="name2" appendTo="body" placeholder="" [(ngModel)]="selectedDocumentType" name="name2" bindValue="name2">
                                                            </ng-select>
                                                        </div>
                                                        <div class="col-4">
                                                            <label>Select Documents</label>
                                                            <ng-select [items]="kycDocument" bindLabel="name" appendTo="body" placeholder=""
                                                                [(ngModel)]="selectedKycDocuments" name="name">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row"> 
                                                        <div class="col-12">
                                                            <div class="upload-wrapper custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                                                <div class="upload-inner">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <ngx-dropzone-label>
                                                                                <div class="drag-drop">
                                                                                    <img class="st img-fluid" src="../../assets/images/icons/upload-icon.png" alt="upload">
                                                                                    <p class="p p-13">Drag & Drop files here</p>
                                                                                    <p class="p p-13 font-weight-normal">Or</p>
                                                                                    <button class="btn bttn-uplaod bttn-txt st">Browse Files</button>
                                                                                </div>
                                                                            </ngx-dropzone-label>
                                                                        </div>
                                                                        <!-- <div class="media-body">
                                                                            <p class="p p-13 progress-txt inline-block">Electricity Bill</p>
                                                                            <span class="p p-13 progress-status inline-block">50%</span>
                                                                            <p><ngb-progressbar [showValue]="true" type="primary" [value]="50" height="5px"></ngb-progressbar></p>
                                                                            <span class="btn bttn-remove">x</span>
                                                                        </div> -->
                                                                    </div>                                           
                                                                </div>
                                                            </div>
                                                            <div class="uploaded-items">
                                                                <ul class="list-group list-group-horizontal-sm">
                                                                    <ngx-dropzone-image-preview class="list-group-item" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)"><br><br>
                                                                        <ngx-dropzone-label class="p p-12 file-name">{{ f.name }}</ngx-dropzone-label>
                                                                    </ngx-dropzone-image-preview>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row justify-content-center form-bttn-row">
                                            <div class="col-auto">
                                                <button class="btn btn-outline-light3 st">Cancel</button>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-secondary st" id="proceed_4">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab panel for KYC documents end -->

                        <!-- Tab panel for review and submit start -->
                        <div class="tab-pane fade" id="rvw-sbmt" role="tabpanel" aria-labelledby="rvw-sbmt-tab">
                            <div class="row br-btm">
                                <div class="col-auto align-self-center">
                                    <h4 class="h4 ttl">Review &amp; Submit</h4>                                    
                                </div>
                                <div class="col align-self-center">
                                    <div class="details-list">
                                        <ul class="list-group list-group-horizontal justify-content-end">
                                            <li class="list-group-item"></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="review-submit-wrap">
                                        <div class="review-submit-card">
                                            <div class="review-submit-card-header">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="ttl">Applicant Details</h6>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                            <div class="review-submit-card-body">
                                                <div class="applicant-data">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="p p-13">Reg. Number</p>
                                                            <h6 class="h6">00199243592</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Source</p>
                                                            <h6 class="h6">Branch</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Raised On</p>
                                                            <h6 class="h6">09 Jan 2020</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Consumer Name</p>
                                                            <h6 class="h6">Thomas Shelby</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="p p-13">ID Number</p>
                                                            <h6 class="h6">1234 6538 6456</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Mobile Number</p>
                                                            <h6 class="h6">+91 9849163057</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">VIP</p>
                                                            <h6 class="h6"><span class="flag-green"></span>Yes</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Pipeline</p>
                                                            <h6 class="h6">Yes</h6>
                                                        </div>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                        </div>
                                        <div class="review-submit-card">
                                            <div class="review-submit-card-header">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="ttl">Payments</h6>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                            <div class="review-submit-card-body">
                                                <div class="applicant-data">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="p p-13">Payment Type</p>
                                                            <h6 class="h6">Deposite</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Scheme</p>
                                                            <h6 class="h6">February Delight</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Amount</p>
                                                            <h6 class="h6">$ 2500</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Total Amount</p>
                                                            <h6 class="h6">$ 2500</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="p p-13">Payment Type</p>
                                                            <h6 class="h6">Rental</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Scheme</p>
                                                            <h6 class="h6">February Delight</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Amount</p>
                                                            <h6 class="h6">$ 2500</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Total Amount</p>
                                                            <h6 class="h6">$ 2500</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-submit-card">
                                            <div class="review-submit-card-header">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="ttl">Address details</h6>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                            <div class="review-submit-card-body">
                                                <div class="applicant-data">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="address-blk">
                                                                <ul class="list-unstyled address-list">
                                                                    <li>3964  Small Street New york, 1235 New street </li>
                                                                    <li>AL - 35573, USA</li>
                                                                </ul>
                                                                <button class="btn bttn-sm bttn-white rounded bttn-billing st">Billing</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-submit-card">
                                            <div class="review-submit-card-header">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="ttl">KYC Documents</h6>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                            <div class="review-submit-card-body">
                                                <div class="applicant-data">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="p p-13">Document Type</p>
                                                            <h6 class="h6">Address Details</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <p class="p p-13">Document Name</p>
                                                            <h6 class="h6">Electricity Bill</h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="p p-13">Document</p>
                                                            <h6 class="h6"><span class="pdf-red"></span>electricity.pdf</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center form-bttn-row">
                                <div class="col-auto">
                                    <button class="btn btn-outline-light3 st">Cancel</button>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-secondary st" id="proceed_5" (click)="showtoast = true">Submit</button>
                                </div>
                            </div>                              
                        </div>
                        <!-- Tab panel for review and submit end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ngb-toast class="success" *ngIf="showtoast" header="dwd" [delay]="4000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="showtoast = false; autohide = true">
                <div>New Registration Successfully Created!!</div>
            </ngb-toast>
        </div>
    </div>
</app-stepper-form>