<div class="dropdown bento-dropdown">
    <button class="btn bentobttn dropdown-toggle" type="button" id="bentoDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="bentoDropdownMenu">
      <div class="dropdown-menu-container">
        <div class="row">
          <div class="col-9 px-0 cust-col-9">            
            <div class="bento-dropdown-lt">
              <ngx-simplebar [options]="menuScrollOptions" class="bento-dropdown-lt-scroll">                
                <div class="row" >
                  <div class="col-sm-4" *ngFor="let module of modulesList.data">
                    <div class="media bento-menu-blk"  id="smart360-side-nav-snm-a" (mouseover)="mouseHovered(module.id)" (click)="getSideNavData(module.id)">
                      <div class="img-blk align-self-center">
                        <img src="{{module.img}}" alt="img">
                      </div>                        
                      <div class="media-body align-self-center">
                        <h6 class="h6">{{module.module}}</h6>
                        <p class="p p-12">{{module.short_desc}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-simplebar>              
            </div>
          </div>
          <div class="col-3 px-0 cust-col-3">
            <div class="bento-dropdown-rt">
              <div class="row" >
                <div class="col-12">
                  <h3 class="h3">{{selectedVal.module}}</h3>
                  <p class="p">{{selectedVal.long_desc}}</p>
                </div>
              </div>
            </div>
            <div class="img-blk">
              <img src="{{selectedVal.img1}}" alt="img">                
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
