<div class="block-body"> 
    <div class="row">
        <div class="col">
            <div class="applicant-data">
                <div class="paymnt-blk">
                    <div class="row">
                        <div class="col-6">
                            <div class="paymnt-list type-1">
                                <ul class="list-group list-group-horizontal justify-content-start">
                                    <li class="list-group-item">
                                        <p class="p text-primary">{{static.type}}</p>
                                        <span>{{static.date}}</span>              
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="paymnt-list type-2">
                                <ul class="list-group list-group-horizontal justify-content-end">
                                    <li class="list-group-item">
                                        <p class="p text-primary"><span class="icon"><img src="../../assets/images/icons/paid-icon.png" alt="img"></span>$ {{static.amount}}</p>
                                        <span>Amount Paid</span>               
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="paymnt-list type-3">
                                <ul class="list-group list-group-horizontal justify-content-start">
                                    <li class="list-group-item">
                                        <p class="p">{{static.mode}}</p>
                                        <span>Payment Mode</span>
                                    </li>
                                    <li class="list-group-item">                  
                                    </li>
                                    <li class="list-group-item">
                                        <p class="p">{{static.id}}</p>
                                        <span>Transaction Number</span>                
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="paymnt-list type-4">
                                <h4 class="h4 ttl">Payment Type</h4>
                                <ul class="list-group list-group-horizontal justify-content-start" *ngFor="let item of paymentData">
                                    <li class="list-group-item">
                                        <p class="p">{{item.type}}</p>         
                                    </li>
                                    <li class="list-group-item">
                                        <p class="p">$ {{item.amount}}</p>            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>