<div class="block-body" *ngFor="let item of payments">
    <div class="row" *ngIf="payments.length != 0">
        <div class="col">
            <div class="applicant-data"> 
                <div class="paymnt-blk">
                    <div class="row">
                        <div class="col-6">
                            <div class="paymnt-list type-1">
                                <ul class="list-group list-group-horizontal justify-content-start">
                                    <li class="list-group-item">
                                        <p class="p text-primary">{{item.paymentType}}</p>
                                        <span>{{item.paymentDate | date : 'MMM d, y'}}</span>              
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="paymnt-list type-2">
                                <ul class="list-group list-group-horizontal justify-content-end">
                                    <li class="list-group-item">
                                        <p class="p text-primary"><span class="icon"><img src="../../assets/images/icons/paid-icon.png" alt="img"></span>$ {{item.paymentAmount}}</p>
                                        <span>Amount Paid</span>               
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="paymnt-list type-3">
                                <ul class="list-group list-group-horizontal justify-content-start">
                                    <li class="list-group-item">
                                        <p class="p">{{item.paymentMode}}</p>
                                        <span>Payment Mode</span>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="p">{{item.paymentChannel}}</p>
                                        <span>Payment Channel</span>                  
                                    </li>
                                    <li class="list-group-item">
                                        <p class="p">{{item.transactionId}}</p>
                                        <span>Transaction Id</span>                
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngFor="let element of item.transactions">
                        <div class="col">
                            <div class="paymnt-list type-4">
                                <ul class="list-group list-group-horizontal justify-content-start">
                                    <li class="list-group-item">
                                        <p class="p">{{element.transactionSubType}}</p>         
                                    </li>
                                    <li class="list-group-item">
                                        <p class="p">$ {{element.transactionAmount}}</p>            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</div>
