<div class="row justify-content-end" *ngIf="filters.length != 0">
  <div class="col" style="margin-top: -6px;">
    <form class="pr-search-form d-inline-block">
      <span class="s-icon"></span>
      <input (keyup)="keypress()" [(ngModel)]="searchText" class="form-control pr-table-search" type="text" placeholder="Search by Id, Name, Mobile No,Email" aria-label="Search" name="text">
    </form>
  </div>
  <div class="col-auto pr-0" style="margin-top: -2px;">
    <label class="p p-13 mr-3">Records</label>
    <ng-select  class="filter-select record-select" (change)="recordsChange()" [searchable]="false" [clearable]="false" appendTo="body" [items]="[10,20,50,100,200,500]" bindLabel="name" placeholder="10" [(ngModel)]="selectedPagination" name="name">
    </ng-select>
  </div>
  <div class="col-auto pr-0">
    <button class="btn btn-outline-light3 st bttn-filter" type="button" data-toggle="collapse"
      data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse"><span>2</span>Filter</button>
  </div>
  <app-tools></app-tools>
  <div class="col-auto pl-0" *ngIf="button.isHref == true">
    
  </div>
  <div class="col-auto pl-0" *ngIf="button.isHref == false">
    <button class="btn btn-secondary st" routerLink="{{button.routerLink}}">{{button.name}}</button>
  </div>
</div>

<!-- Filters start -->
<div class="row">
  <div class="col-12">
    <div class="filters-wrap">
      <div class="collapse" id="filterCollapse">
        <div class="filter-wrap-inner">
          <div class="row">
            <div class="col-12">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item" *ngFor="let item of filters">
                  <label>{{item.name}}</label>
                  <ng-select class="filter-select" [items]="item.options" bindLabel="name" [placeholder]="item.placeholder"
                    [(ngModel)]="selectedValue" name="name">
                  </ng-select>
                </li>
                <li class="list-group-item">
                  <label>Date Range</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn bttn-transparent bttn-icon" type="button">
                            <fa-icon [icon]="faCalendarAlt"></fa-icon>
                        </button>
                    </div>
                    <input class="form-control pr-date-range" placeholder="Date Range" type="text" name="daterange" [locale]="{format: 'DD-MM-YYYY'}" ngxDaterangepickerMd [(ngModel)]="selected" />
                  </div>
                </li>
                <li class="list-group-item">
                  <button class="btn btn-outline-secondary st" style="min-width: 175px;">Apply</button>
                </li>
                <li class="list-group-item">
                  <button class="btn btn-light2 st" style="min-width: 175px;" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">Cancel</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filters end -->