<div class="block-body">
    <div class="row">
        <div class="col-4 pr-1">
            <div class="applicant-data">
                <div class="address-blk" *ngFor="let item of address">
                    <button class="btn bttn-sm bttn-white rounded bttn-billing st">{{item.heading}}</button>
                    <ul class="list-unstyled address-list">
                        <li>{{item.address}}</li>
                    </ul>
                    <a class="btn bttn-txt text-primary" (click)="viewOnMap(item.address)"><fa-icon [icon]="faMapMarkerAlt"></fa-icon>View on Map</a>    
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="applicant-data">
                <div class="map-wrap">
                    <iframe [src]="urlSafe" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>