<div class="col-auto pl-0">
    <div class="dropdown tool-dropdown">
      <button class="btn btn-outline-light3 st dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tools
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item active" >
          <i class="icons8 icons8-print-2"></i>Print
        </a>
        <a class="dropdown-item" >
          <i class="icons8 icons8-pdf"></i>PDF
        </a>
        <a class="dropdown-item" >
          <i class="icons8 icons8-brief"></i>Excel
        </a>
        <a class="dropdown-item" >
          <i class="icons8 icons8-document"></i>CSV
        </a>
      </div>
    </div>
</div>