<header class="pr-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pt-0 pb-0 header">
        <smart360-bento-menu [selectedVal]="selectedVal"></smart360-bento-menu>
        <div class="navbar-brand d-flex align-items-center">
            <a class="logo-txt" href="/home">Smart<span class="text-primary">360</span></a>
        </div>
        <div class="collapse navbar-collapse mr-auto">
          <div class="navbar-nav">
            <div aria-label="breadcrumb" style="visibility: hidden;">
              
            </div>
          </div>
        </div>
        <div class="nav-rt">
          <smart360-search></smart360-search>
          <smart360-add></smart360-add>                
          <smart360-notification></smart360-notification>
          <smart360-location></smart360-location>
          <smart360-profile></smart360-profile>
        </div>
    </nav>
</header>