<section class="pr-section p-0">
    <div class="container-fluid px-0">
        <div class="row justify-content-center singin-wrap-main singin-wrap">
            <div class="col-auto cust-col-lt">
                <div class="singin-wrap-lt">
					
                    <h3 class="logo">Smart<span>360</span></h3>
                    <p class="p p-14 text-center" *ngIf="forgotpwddiv">Please Enter your Email to Reset Password.</p>
                    <p class="p p-14 text-center" >Please Enter your New Password</p>
					<div class="singin-form-wrap">                        
						<div class="inner-form">
                            <form name="form" [formGroup]="loginForm">

                                <!-- Reset Password -->
                                <form #f="ngForm" (ngSubmit)="resetPassword()">
                                <div class="form-row" >
                                    <div class="col-12">
                                        <!-- <span class="p p-13 forgot-pwd text-dark" (click)="forgotpwd()">Forgot Password</span> -->
                                        <input [type]="showpwd3 ? 'text' : 'password'" class="form-control form-pwd" [(ngModel)]="model.password" required #email="ngModel" placeholder="Password" id="login_pwd3" name="password"/>
                                        <label class="pwd_ico" for="login_pwd3" (click)="showhidepwd3()"><span><i ngClass='{{showpwd3 ? "icons8-eye" : "icons8-hide"}}' class="icons8"></i></span></label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-secondary st text-center sign-in-btn btn-block">Reset Password</button>
                                    </div>
                                </div>
                                </form>

                            </form>
                        </div>
                    </div> 
                </div>
			</div>
			<div class="col cust-col-rt">
				<div class="singin-wrap-rt">
                    <div class="border"></div>
                    <div class="icons-ul">
                        <ul class="list-unstyled">
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-1.png" alt="ico"></span></div>
                                <p class="p ico-nm">Finance</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-2.png" alt="ico"></span></div>
                                <p class="p ico-nm">People</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-3.png" alt="ico"></span></div>
                                <p class="p ico-nm">Field Service</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-4.png" alt="ico"></span></div>
                                <p class="p ico-nm">Consumer</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-5.png" alt="ico"></span></div>
                                <p class="p ico-nm">Assets</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-6.png" alt="ico"></span></div>
                                <p class="p ico-nm">Network</p>
                            </li>
                            <li>
                                <div class="ico st"><span><img class="st" src="../../assets/images/icons/main-login-ico-7.png" alt="ico"></span></div>
                                <p class="p ico-nm">Purchase</p>
                            </li>
                        </ul>
                    </div>
                    <div class="img-blk">
                        <img class="img-abs st" src="../../assets/images/main-login-bg-light.png.png" alt="img">
                    </div>
                    <div class="txt-blk">
                        <h1 class="ttl-blk">Smart360</h1>
                        <p class="p">Gain 360 View of your Utility Business</p>
                    </div>										
				</div>
			</div>
		</div>
	</div>
</section>