<div class="pr-side-navbar z-99 pos-rel open-slide" >
  <div class="" data-toggle="buttons">
    <button class="btn btn-primary bttn-transparent menubttn2" (click)="bClickEvent()"
      [ngClass]="status ? 'open-subm' : 'close-subm'">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item" placement="right" ngbPopover="Dashboard" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link active" [routerLink]="['/sales-marketing']"><span><i class="icons8 icons8-speed"></i></span>Dashboard</a>
    </li>    
    <li class="nav-item" placement="right" ngbPopover="Campaign" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" [routerLink]="['/campaign']"><span><i class="icons8 icons8-megaphone"></i></span>Campaign</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Survey" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" data-toggle="modal" data-target="#sidebarSurveyModal"><span><i class="icons8 icons8-flow-chart"></i></span>Survey</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Registration" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" [routerLink]="['/registration']"><span><i class="icons8 icons8-shared-document"></i></span>Registration</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Consumers" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" [routerLink]="['/consumers']"><span><i class="icons8 icons8-cv"></i></span>Consumers</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Reports" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" [routerLink]="['/reports']"><span><i class="icons8 icons8-todo-list"></i></span>Reports</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Users" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" data-toggle="modal" data-target="#sidebarUsersModal"><span><i class="icons8 icons8-cv"></i></span>Users</a>
    </li>
    <li class="nav-item" placement="right" ngbPopover="Settings" triggers="mouseenter:mouseleave" container="body">
      <a class="nav-link" type="button" data-toggle="modal" data-target="#sidebarSettingsModal"><span><i class="icons8 icons8-settings"></i></span>Settings</a>
    </li>
  </ul>
</div>

  
<!-- Survey Modal -->
<div class="pr-sidebar-modal">
  <div class="modal left fade" id="sidebarSurveyModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarSurveyModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title" id="sidebarSurveyModalLabel">Survey</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
          <div class="pr-side-inner-navbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/survey/location/">Location </a>
                <a class="nav-link" href="/survey/customer/">Consumer</a>
              </li>
            </ul>
          </div>
        </div> -->
  
        <!-- ***    For usecase please do not comment/alter this   *** -->
        <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
          <div class="pr-side-inner-navbar">
            <ngb-accordion [closeOthers]="true" activeIds="consrvy">
              <ngb-panel id="consrvy">
                  <ng-template ngbPanelHeader let-opened="opened">
                      <button ngbPanelToggle class="btn btn-link stretched-link st">Consumer Survey</button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active st">active link</a>
                        <a class="nav-link st">normal link</a>
                        <a class="nav-link st">Region</a>
                        <a class="nav-link st">City</a>
                        <a class="nav-link st">Saluation</a>
                        <a class="nav-link st">Gender</a>
                      </li>
                    </ul>
                  </ng-template>
              </ngb-panel>          
              <ngb-panel id="locnsrvy">
                  <ng-template ngbPanelHeader>
                      <button ngbPanelToggle class="btn btn-link stretched-link st">Location Survey</button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link st">Country</a>
                        <a class="nav-link st">State</a>
                        <a class="nav-link st">Region</a>
                        <a class="nav-link st">City</a>
                        <a class="nav-link st">Saluation</a>
                        <a class="nav-link st">Gender</a>
                      </li>
                    </ul>
                  </ng-template>
              </ngb-panel>          
              <ngb-panel id="conscare">
                  <ng-template ngbPanelHeader>
                      <button ngbPanelToggle class="btn btn-link stretched-link st">Consumer Care</button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link st">Country</a>
                        <a class="nav-link st">State</a>
                        <a class="nav-link st">Region</a>
                        <a class="nav-link st">City</a>
                        <a class="nav-link st">Saluation</a>
                        <a class="nav-link st">Gender</a>
                      </li>
                    </ul>
                  </ng-template>
              </ngb-panel>
            </ngb-accordion>          
          </div>
        </div>
        <!-- ***    For usecase please do not comment/alter this   *** -->
  
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div>  

<!-- Settings Modal -->
<div class="pr-sidebar-modal">
  <div class="modal left fade" id="sidebarSettingsModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title" id="sidebarModalLabel">Settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
          <div class="pr-side-inner-navbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/settings/survey-type/">Survey Type</a>
                <a class="nav-link" href="/settings/campaign-type/">Campaign Type</a>
                <a class="nav-link" href="/settings/campaign-freq-type/">Campaign Frequency Type</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div>

<!-- Users Modal -->
<div class="pr-sidebar-modal">
  <div class="modal left fade" id="sidebarUsersModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarUsersModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title" id="sidebarUsersModalLabel">Users</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
          <div class="pr-side-inner-navbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/user">List view</a>
                <a class="nav-link" href="/user/add-user-details">User Form</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div>

<!--S&M Side Nav-->>
<div *ngIf="item ==='Sales & Marketing'">
<div class="pr-side-navbar z-99 pos-rel" >
    <div class="" data-toggle="buttons">
      <button class="btn btn-primary bttn-transparent menubttn2" (click)="bClickEvent()"
        [ngClass]="status ? 'open-subm' : 'close-subm'">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item" placement="right" ngbPopover="Dashboard" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link active" [routerLink]="['/sales-marketing']"><span><i class="icons8 icons8-speed"></i></span>Dashboard</a>
      </li>    
      <li class="nav-item" placement="right" ngbPopover="Campaign" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/campaign']"><span><i class="icons8 icons8-megaphone"></i></span>Campaign</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Survey" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" data-toggle="modal" data-target="#sidebarSurveyModal"><span><i class="icons8 icons8-flow-chart"></i></span>Survey</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Registration" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/registration']"><span><i class="icons8 icons8-shared-document"></i></span>Registration</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Consumers" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/consumers']"><span><i class="icons8 icons8-cv"></i></span>Consumers</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Reports" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/reports']"><span><i class="icons8 icons8-todo-list"></i></span>Reports</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Users" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" data-toggle="modal" data-target="#sidebarUsersModal"><span><i class="icons8 icons8-cv"></i></span>Users</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Settings" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" type="button" data-toggle="modal" data-target="#sidebarSettingsModal"><span><i class="icons8 icons8-settings"></i></span>Settings</a>
      </li>
    </ul>
  </div>
    
  <!-- Survey Modal -->
  <div class="pr-sidebar-modal">
    <div class="modal left fade" id="sidebarSurveyModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarSurveyModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title" id="sidebarSurveyModalLabel">Survey</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <!-- <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
            <div class="pr-side-inner-navbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/survey/location/">Location </a>
                  <a class="nav-link" href="/survey/customer/">Consumer</a>
                </li>
              </ul>
            </div>
          </div> -->
    
          <!-- ***    For usecase please do not comment/alter this   *** -->
          <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
            <div class="pr-side-inner-navbar">
              <ngb-accordion [closeOthers]="true" activeIds="consrvy">
                <ngb-panel id="consrvy">
                    <ng-template ngbPanelHeader let-opened="opened">
                        <button ngbPanelToggle class="btn btn-link stretched-link st">Consumer Survey</button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active st">active link</a>
                          <a class="nav-link st">normal link</a>
                          <a class="nav-link st">Region</a>
                          <a class="nav-link st">City</a>
                          <a class="nav-link st">Saluation</a>
                          <a class="nav-link st">Gender</a>
                        </li>
                      </ul>
                    </ng-template>
                </ngb-panel>          
                <ngb-panel id="locnsrvy">
                    <ng-template ngbPanelHeader>
                        <button ngbPanelToggle class="btn btn-link stretched-link st">Location Survey</button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link st">Country</a>
                          <a class="nav-link st">State</a>
                          <a class="nav-link st">Region</a>
                          <a class="nav-link st">City</a>
                          <a class="nav-link st">Saluation</a>
                          <a class="nav-link st">Gender</a>
                        </li>
                      </ul>
                    </ng-template>
                </ngb-panel>          
                <ngb-panel id="conscare">
                    <ng-template ngbPanelHeader>
                        <button ngbPanelToggle class="btn btn-link stretched-link st">Consumer Care</button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link st">Country</a>
                          <a class="nav-link st">State</a>
                          <a class="nav-link st">Region</a>
                          <a class="nav-link st">City</a>
                          <a class="nav-link st">Saluation</a>
                          <a class="nav-link st">Gender</a>
                        </li>
                      </ul>
                    </ng-template>
                </ngb-panel>
              </ngb-accordion>          
            </div>
          </div>
          <!-- ***    For usecase please do not comment/alter this   *** -->
    
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
  </div>  
  
  <!-- Settings Modal -->
  <div class="pr-sidebar-modal">
    <div class="modal left fade" id="sidebarSettingsModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title" id="sidebarModalLabel">Settings</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
            <div class="pr-side-inner-navbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/settings/survey-type/">Survey Type</a>
                  <a class="nav-link" href="/settings/campaign-type/">Campaign Type</a>
                  <a class="nav-link" href="/settings/campaign-freq-type/">Campaign Frequency Type</a>
                </li>
              </ul>
            </div>
          </div>
    
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
  </div>
  
  <!-- Users Modal -->
  <div class="pr-sidebar-modal">
    <div class="modal left fade" id="sidebarUsersModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sidebarUsersModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title" id="sidebarUsersModalLabel">Users</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
            <div class="pr-side-inner-navbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/user">List view</a>
                  <a class="nav-link" href="/user/add-user-details">User Form</a>
                </li>
              </ul>
            </div>
          </div>
    
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
  </div>
</div>

<!-- Consumer Care SideNav-->
<div *ngIf="item ==='Consumer Care'">
  <div class="pr-side-navbar z-99 pos-rel">
    <div class="" data-toggle="buttons">
      <button class="btn btn-primary bttn-transparent menubttn" (click)="bClickEvent()" [ngClass]="status ? 'open-subm' : 'close-subm'"><span></span></button>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item" placement="right" ngbPopover="Dashboard" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link active" [routerLink]="['/consumer-care']"><span><i class="icons8 icons8-speed"></i></span></a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Consumers" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/consumer-care/consumer']"><span><i class="icons8 icons8-cv"></i></span>Consumers</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Registration" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/registration']"><span><i class="icons8 icons8-shared-document"></i></span>Registration</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Reports" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/reports']"><span><i class="icons8 icons8-todo-list"></i></span>Reports</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="User" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" [routerLink]="['/user']"><span><i class="icons8 icons8-user"></i></span>User</a>
      </li>
      <li class="nav-item" placement="right" ngbPopover="Settings" triggers="mouseenter:mouseleave" container="body">
        <a class="nav-link" type="button" data-toggle="modal" data-target="#consumercareSettingsModal"><span><i class="icons8 icons8-settings"></i></span>Settings</a>
      </li>
    </ul>
  
  </div>
  
  
  
  <!-- Settings Modal -->
  <div class="pr-sidebar-modal">
    <div class="modal left fade" id="consumercareSettingsModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="consumercareSettingsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title" id="sidebarModalLabel">Settings</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
            <div class="pr-side-inner-navbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">User Privilage</a>
                  <a class="nav-link" href="#">Terretory</a>
                  <a class="nav-link" href="#">Document</a>
                </li>
              </ul>
            </div>
          </div>
    
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
  </div>
</div>

<!-- Consumer Ops Component-->>

  <div *ngIf="item ==='Consumer Ops'">
    <div class="pr-side-navbar z-99 pos-rel">
      <div class="" data-toggle="buttons">
        <button class="btn btn-primary bttn-transparent menubttn" (click)="bClickEvent()" [ngClass]="status ? 'open-subm' : 'close-subm'"><span></span></button>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item" placement="right" ngbPopover="Dashboard" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link active" [routerLink]="['/consumerops']"><span><i class="icons8 icons8-speed"></i></span>Dashboard</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Registration" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['/registration']"><span><i class="icons8 icons8-shared-document"></i></span>Registration</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Consumer" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['/consumerops/consumer']"><span><i class="icons8 icons8-cv"></i></span>Consumer</a> 
        </li>
        <li class="nav-item" placement="right" ngbPopover="Meter Data" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" type="button" data-toggle="modal" data-target="#consopsMeterDataModal"><span><i class="icons8 icons8-conflict"></i></span>Meter Data</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Billing" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['consumerops/billing']"><span><i class="icons8 icons8-paycheque"></i></span>Billing</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Payments" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['consumerops/payments']"><span><i class="icons8 icons8-document"></i></span>Payment</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Services" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['consumerops/services']"><span><i class="icons8 icons8-paycheque"></i></span>Service</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Complaints" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['consumerops/complaints']"><span><i class="icons8 icons8-document"></i></span>Complaint</a>
        </li>
        <li class="nav-item" placement="right" ngbPopover="Reports" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link"><span><i class="icons8 icons8-todo-list"></i></span>Report</a>
        </li>    
        <li class="nav-item" placement="right" ngbPopover="User" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" [routerLink]="['user']"><span><i class="icons8 icons8-user"></i></span>User</a>
        </li>    
        <li class="nav-item" placement="right" ngbPopover="Settings" triggers="mouseenter:mouseleave" container="body">
          <a class="nav-link" type="button" data-toggle="modal" data-target="#consopsSettingsModal"><span><i class="icons8 icons8-settings"></i></span>Setting</a>
        </li>
      </ul>
    
    </div>
    
    <!-- Survey Modal -->
    <div class="pr-sidebar-modal">
      <div class="modal left fade" id="consopsSurveyModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="consopsSurveyModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <h4 class="modal-title" id="consopsSurveyModalLabel">Survey</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
              <div class="pr-side-inner-navbar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="/survey/customer">Consumer Survey</a>
                    <a class="nav-link" href="/survey/location">Location Survey</a>
                  </li>
                </ul>
              </div>
            </div>
      
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
    </div>  
    
    <!-- Settings Modal -->
    <div class="pr-sidebar-modal">
      <div class="modal left fade" id="consopsSettingsModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="consopsSettingsModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <h4 class="modal-title" id="consopsSettingsModalLabel">Settings</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
              <div class="pr-side-inner-navbar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" >Terretory</a>
                    <a class="nav-link" >Bill</a>
                    <a class="nav-link">Document</a>
                  </li>
                </ul>
              </div>
            </div>
      
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
    </div>
  
    <!-- Meter Data Modal -->
    <div class="pr-sidebar-modal">
      <div class="modal left fade" id="consopsMeterDataModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="consopsMeterDataModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <h4 class="modal-title" id="consopsMeterDataModalLabel">Meter Data</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
              <div class="pr-side-inner-navbar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/consumerops/meterdatalist']">Schedule</a>
                    <a class="nav-link" [routerLink]="['/consumerops/meterdata/dispatch']">Dispatch</a>
                    <a class="nav-link" [routerLink]="['/consumerops/validationlist']">Validation</a>
                    <a class="nav-link" [routerLink]="['/consumerops/upload']">Upload</a>
                    <a class="nav-link" >Smart Meter Data</a>
                    
                  </li>
                </ul>
              </div>
            </div>
      
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
    </div>
    
    <!-- Users Modal -->
    <div class="pr-sidebar-modal">
      <div class="modal left fade" id="consopsUsersModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="consopsUsersModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <h4 class="modal-title" id="consopsUsersModalLabel">Users</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body" style="background-image: url('../../../assets/images/sidenav-illustration.png');">
              <div class="pr-side-inner-navbar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="/user">List view</a>
                    <a class="nav-link" href="/user/add-user-details">User Form</a>
                  </li>
                </ul>
              </div>
            </div>
      
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
    </div>
  </div>

  