<div class="d-inline-block">
    <div class="dropdown notifications-dropdown" dropdown dropdown-append-to-body>
      <a class="btn bttn-transparent bttn-icon bttn-notify" role="button" id="notifyDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="icons8 icons8-doorbell"></i><span>3</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifyDropdown" >
        <ngx-simplebar [options]="notificationScrollOptions" class="notifications-dropdown-wrap">
          <div class="row">
            <div class="col-12">
              <h3 class="ttl">Notifications</h3>
            </div>
            <div class="col-12">
              <div class="notify-blk" *ngFor="let notification of notifications.data">
                <p><span class="badge badge-new">{{notification.status}}</span></p>
                <h6 class="ttl">{{notification.title}}</h6>
                <p class="p p-12 inf">{{notification.desc}}</p>
                <p class="p p-12 dt">{{notification.day}}</p>
                <div class="row">
                  <div class="col pr-2" >
                    <button class="btn btn-secondary btn-block st" *ngIf="notification.isValid === true" [routerLink]="[notification.link]">View Bill</button>
                  </div>
                  <div class="col pl-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-simplebar>            
      </div>
    </div>
  </div>