<div class="pr-modal">
    <div class="modal right fade" id="complaindetails" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="complaindetails">
      <div class="modal-dialog" role="document" style="min-width:570px;">
         <div class="modal-content">
    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title mb-2" id="addAdvertisementModalLabel">Complaint Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
  
            
              <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body" style="background-image: url('../../../assets/images/consumer-modal-bg.png');">
              <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                          <div class="row">
                              <div class="col-12">
                                  <div class="dtls-block"> 
                                      <div class="block-body">
                                          <div class="row">
                                              <div class="col-7">
                                                  <h4 class="h4 text-primary">Consumer No. 199243</h4>
                                                  <h6>Thomas Shelby</h6>
                                                  
                                              </div>
                                              <div class="col">
                                                  
                                                  <p class="p p-12 mb-1"><span class="mr-3">Raised On</span><span class="text-right text-dark">03 Feb 2020</span></p>
                                                  <p class="p p-12 mb-1"><span class="mr-3">Resolved on</span><span class="text-right text-dark">09 Jan 2020</span></p>
                                                  
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <p class="intxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing
                                                      elit. Qui autemconsectetur adipiscing eli</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="info-block">
                                          <div class="applicant-data">
                                              <div class="row">
                                                  <div class="col-4">
                                                      <p class="p p-13">Complaint ID</p>
                                                      <h6 class="h6">4569921243</h6>
                                                  </div>
                                                  <div class="col-4">
                                                      <p class="p p-13">Objective</p>
                                                      <h6 class="h6">Complaint - 1</h6>
                                                  </div>
                                                  <div class="col-4">
                                                      <p class="p p-13">Source</p>
                                                      <h6 class="h6">Web App</h6>
                                                  </div>
                                                  <div class="col-4">
                                                      <p class="p p-13">Type</p>
                                                      <h6 class="h6">Non technical</h6>
                                                  </div>
                                                  <div class="col-4">
                                                      <p class="p p-13">Sub Type</p>
                                                      <h6 class="h6">Payment</h6>
                                                  </div>
                                                  <div class="col-4">
                                                      <p class="p p-13">Document</p>
                                                      <h6 class="h6">Screenshot.pdf</h6>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                              
                    </div>
                </div>
  </ngx-simplebar>
            
  
            <div class="modal-footer pr-modal-footer">
              <div class="row justify-content-end">
                  <div class="col-auto">
                      <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                  </div>
                  <!-- <div class="col-auto pl-1 pr-0">
                      <button class="btn btn-secondary st">SUBMIT</button>
                  </div> -->
              </div>
          </div>
    
        </div> 
      </div>
    </div>
  </div>
   
