<div class="d-inline-block" *ngFor="let pro of profile.data">
    <div class="dropdown profile-dropdown" dropdown dropdown-append-to-body>
      <a class="btn bttn-transparent dropdown-toggle" role="button" id="headerDropdown2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span><img class="st img-abs" src="{{pro.img}}"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown2">
        <h6 class="dropdown-header">{{pro.name}}</h6>
        <span class="dropdown-item-text p p-13">{{pro.email}}</span>
        <button class="btn btn-sm btn-primary text-uppercase" type="button">View Profile</button>
        <div class="dropdown-divider"></div>
        <div *ngFor="let pro1 of profile.links">
        <a class="dropdown-item" (click)="selectItem(pro1.options)">{{pro1.options}}</a>
      </div>
      </div>
    </div>
  </div>